.legendContainer {
    background-color: #000000;
    border: 1px solid white;
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  .checkbox {
    margin: 10px;
  }

.flex-container {
    display: flex;
    padding: 0 100px 0 100px;
    height: 100px;
    flex-wrap: wrap;
    /* align-content: space-between; */
    overflow: scroll;
    /* background-color: DodgerBlue; */
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 60px;
    margin: 1px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
  }

.checkbox {}